### Printing My Name

In [7]:
print("Ravi Kiran")

Ravi Kiran

In [8]:
x = 10
type(x)

int

In [9]:
x = 10.5
type(x)

float

In [10]:
name=data
type(data)

NameError: name 'data' is not defined

In [11]:
name = "data"
type(name)

str

In [12]:
y = true
type(true)

NameError: name 'true' is not defined

In [13]:
y = True
type(y)

bool

In [14]:
z = 2-3j
type(z)

complex

### Rules For Naming Variables

In [15]:
participants = ["Gundan", "Nerd", "Ashwin"]
participants

['Gundan', 'Nerd', 'Ashwin']

In [16]:
PARTICIPANTS = ["Gundan", "Nerd", "Ashwin"] ##Variable names start with A-z or a-z
PARTICIPANTS

['Gundan', 'Nerd', 'Ashwin']

In [17]:
3PARTICIPANTS = ["Gundan", "Nerd", "Ashwin"] ##Variable name cannot start with number

SyntaxError: invalid syntax (<ipython-input-17-8185a5579262>, line 1)

In [19]:
_PARTICPANTS_name = ["Gundan", "Nerd", "Ashwin"] ##Variable can start with underscore
_PARTICPANTS_name

['Gundan', 'Nerd', 'Ashwin']

In [20]:
Participants Name = ["Gundan", "Nerd", "Ashwin"] ##Variable declaration cannot have space

SyntaxError: invalid syntax (<ipython-input-20-247b93736509>, line 1)

##  List

In [23]:
sample_list = [12,14,56,"hi",1+2j,6.7] #List allows heterogeneous which means all data types
sample_list

[12, 14, 56, 'hi', (1+2j), 6.7]

In [24]:
type(sample_list)

list

In [25]:
sample_list[0] ##Index position always starts from 0 so thats why 12 is printed

12

In [26]:
sample_list[3]

'hi'

In [27]:
sample_list[10] ##since there are only 5 index positions in the above given list it will show error for trying to print 10th index position

IndexError: list index out of range

In [28]:
sample_list[6] #same error like sample_list[10]

IndexError: list index out of range

In [29]:
sample_list[2]

56

In [31]:
sample_list[2] = 3.5 #This is called mutable using. In this 2nd index position i.e 56 will be replaced with value 3.5
sample_list

[12, 14, 3.5, 'hi', (1+2j), 6.7]

In [33]:
sample_list[2] = 100
sample_list

[12, 14, 100, 'hi', (1+2j), 6.7]

In [34]:
sample_list.reverse()
sample_list

[6.7, (1+2j), 'hi', 100, 14, 12]

## Tuples

In [35]:
sample_tuple = (12,43,56,"hi",1+2j,6.7)
sample_tuple

(12, 43, 56, 'hi', (1+2j), 6.7)

In [36]:
type(sample_tuple)

tuple

In [37]:
sample_tuple(0)

TypeError: 'tuple' object is not callable

In [38]:
sample_tuple[0]

12

In [39]:
sample_tuple[3]

'hi'

In [40]:
sample_tuple[10]

IndexError: tuple index out of range

In [41]:
sample_tuple[6]

IndexError: tuple index out of range

In [42]:
sample_tuple[2]

56

In [43]:
sample_tuple[2] = 3.5 #tuples are not mutable or in other words they are immutable
sample_tuple

TypeError: 'tuple' object does not support item assignment

In [44]:
sample_tuple(2) = 3.5

SyntaxError: cannot assign to function call (<ipython-input-44-ce349bbf2260>, line 1)

In [45]:
sample_tuple(2) = 3.4
sample_tuple(2)

SyntaxError: cannot assign to function call (<ipython-input-45-57becd262d90>, line 1)

In [46]:
sample_tuple.reverse()
sample_tuple

AttributeError: 'tuple' object has no attribute 'reverse'